@font-face {
    font-family: 'CustomFont';
    src: url('Alycidon-Condensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

body.gallery { 
    display: flex;
    flex-direction: column;
}

body.join {
    background-image: url("images/join__bg.png");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size:cover; /* Scales the image to fit within the body */
    background-position: center; /* Centers the image */
}

body.donate {
    background-image: url("images/join__bg.png");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size:cover; /* Scales the image to fit within the body */
    background-position: center; /* Centers the image */
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Apply box-sizing to ensure padding and border don't affect width */
* {
    box-sizing: border-box;
}

/* Navigation Styling */
header {
    background-color: black;
    padding: 10px;
    margin: 0 auto;
    position: fixed; /* Fixes the header at the top */
    top: 1%;         /* Aligns it to the top */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border: 2px white solid;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;  /* Added padding to create consistent clickable areas */
    display: inline-block;  /* Ensures each item is treated as a block with padding */
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Active Link Styling */
nav ul li a.active {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}


main {
    text-align: center;
    flex: 1;
}

/* Button Styling */
.discord-button {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #7289DA;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.paypal-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #7289DA;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
}

.discord-button:hover {
    background-color: #5b6eae;
}

#requirements {
    text-align: center;  /* Center the text */
    width: 30vw;
    min-width: 200px;
    margin: 0 auto;
    color: white;
}

#discord {
    color: white;
    margin-top: 30px;
}

.join-container {
    padding: 20px;
    background-color: black;
    width: 30vw;
    min-width: 350px;
    border: 2px white solid;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
}

#requirements ul {
    list-style-type: disc;
    list-style-type: none;
    color: white;
    padding: 0;
    color:white;
    padding-left: 0; 
    max-width: 500px;
    margin: auto;
}

#requirements li {
    margin: 10px 0;
    align-items: center;
}

#requirements li::before {
    content: '•'; /* Custom bullet */
    color: white; /* Bullet color */
    margin-right: 10px; /* Space between bullet and text */
}

/* Styling for the main image */
#main-image {
    text-align: center;
    margin-top: 0cqmax;
}

.featured-image {
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    filter: grayscale();
}

.main-text, .join-text, .about-text, .donate-text {
    color: white;
}

.donate-text {
    width: 30vw;
    min-width: 350px; 
    line-height: 1.6; 
    margin:0 auto;
    margin-top: 100px;
    background-color: black;
    border: 2px white solid;
    border-radius: 20px;
    padding:20px;
}

.donate-text h1 {
    margin-bottom: 15px; 
}

.join-text {
    margin: auto;
    margin-top: 100px;
    max-width: 500px;

}

.featured-image {
    width: 100%; /* Set the width as desired */
    height: auto;
    mask-image: 
    linear-gradient(to top, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%), /* Bottom fade */
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%); /* Top fade */
    /* For older browsers */
    -webkit-mask-image: 
        linear-gradient(to top, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
}   

/* Gallery Styling */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px;
    padding: 20px;
    margin-top: 30px;
}

.gallery .img-container {
    width: 100%;           /* Full width of the grid cell */
    height: 100%;        /* Fixed height for all image containers */
    max-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;     /* Hide overflow to maintain uniformity */
}

.gallery img {
    width: 100%;      /* Ensure image does not exceed container width */
    height: 100%; 
    object-fit: cover;  /* Ensure image does not exceed container height */
    display: block;        /* Removes bottom space under image */
    margin: auto;          /* Center the image within the container */
    border: 4px solid #ddd; /* Border around the image */
    border-radius: 5px;    /* Optional: rounded corners for the border */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr; /* Stack images in one column on smaller screens */
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 10px;  /* Added padding to create consistent clickable areas */
        display: inline-block;  /* Ensures each item is treated as a block with padding */
    }
    
    nav ul li a:hover {
        text-decoration: underline;
    }
    
    /* Active Link Styling */
    nav ul li a.active {
        background-color: white;
        color: black;
        padding: 10px 10px;
        border-radius: 5px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vw;
    padding-bottom: 10vh;
}

.item {
    text-align: center;
    color: white;
    width: 250px;
    height: 250px;
    /* border: white 2px solid;
    border-radius: 10%; */
}

.item img {
    width: 250px;
    height: 250px;
    border: rgb(180, 3, 3) 5px solid;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.item p {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.avatars {
    color: white;
    margin-top: 5vh;
}

.avatars h1 {
    font-size: 60px;
}

.item>p {
    font-size: 20px;
}

.peaky-blinders {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
}

.peaky-blinders h1,
.peaky-blinders h2 {
    text-align: center;
    margin-bottom: 20px;
}

.peaky-blinders h2 {
    font-size: 40px;
}

.peaky-blinders h1 {
    font-family: 'CustomFont';
    word-spacing: 10px;
    font-size: 150px;
    font-weight: 200;
}

.peaky-blinders h3 {
    text-align: left;
    max-width: 500px;
    margin: 20px 0 10px;
    margin: 20px auto;
}

.peaky-blinders p {
    text-align: left;
    line-height: 1.6;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

.about-text {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}